.page-info {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.back-btn {
  font-size: 40px;
  width: 40px;
  color: var(--primary-color);
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: stretch;
  overflow: scroll;
  padding: 20px;

  margin-top: 5vh;
}

.delete-btn {
  background-color: var(--delete-red);
}

.delete-btn:hover {
  background-color: rgb(139, 55, 49);
  color: white;
}

@media (min-width: 1200px) {
  .card-list {
    gap: 50px;
  }
  .card {
    width: 300px;

    img {
      width: 280px;
    }
  }
}
