nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.filter-container {
  button {
    max-width: 20%;
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: var(--background-color);
    border: 1px solid var(--secondary-color);
    font-size: 10px;
    flex-grow: 1;
  }

  button:hover {
    background-color: var(--hover-color);
    border: 1px solid var(--primary-color);
  }

  .selected {
    background-color: var(--primary-color);
    border: 1px solid transparent;
  }
}

@media (min-width: 526px) {
  button {
    font-size: 13px;
  }
}

@media (min-width: 798px) {
  .filter-container {
    width: 55%;
  }
}

@media (min-width: 844px) {
  .filter-container {
    button {
      font-size: 14px;
    }
  }
}
