* {
  margin: 0px;
}

:root {
  --primary-color: #1b1238;
  --secondary-color: #e9e3ff;
  --hover-color: #787093;
  --background-color: rgb(65, 59, 71);
  --card-bg-color: rgb(78, 72, 83);
  --text-color: #ffffff;
  --delete-red: rgb(122, 40, 34);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}

[data-theme="light"] {
  --text-color: #213547;
  --background-color: #ffffff;
  --card-bg-color: #f6f2ff;
  --primary-color: #b9a7f2;
  --secondary-color: #1b1238;
  --hover-color: #e8e2ff;
  --delete-red: rgb(221, 132, 132);
  background-color: var(--background-color);
  color: var(--text-color);

  a:hover {
    color: #747bff;
  }
}

body {
  margin: 0px;
}

#toggle-mode {
  position: absolute;
  top: 0;
  background-color: var(--secondary-color);
  border-radius: 50px;
  margin: 20px;
  color: var(--primary-color);
}

#toggle-mode:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.6rem;
}

button:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
  cursor: pointer;
}
