* {
  margin: 0px;
}

:root {
  --primary-color: #1b1238;
  --secondary-color: #e9e3ff;
  --hover-color: #787093;
  --background-color: #242424;
  --text-color: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: #ffffff;
    --primary-color: #b9a7f2;
    --secondary-color: #1b1238;
  }
  a:hover {
    color: #747bff;
  }
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.4rem 0.6rem;
}

button:hover {
  background-color: var(--hover-color);
  border: 1px solid var(--secondary-color);
  color: white;
}
